*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/shelf/Uncommitted_changes_before_Update_at_2023-10-22_8_14_p_m__[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_2023-10-22_8_22_p_m__[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_2023-10-24_11_58_a_m__[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_2023-10-22_8_14_p_m___Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_2023-10-22_8_22_p_m___Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_2023-10-24_11_58_a_m___Changes_.xml
/frontend/.idea
